{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Вход в систему</h1>
<p>Классификация радиосигналов инопланетных цивилизаций. Введите логин и пароль.</p>
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Логин</label>
        <input type="text" name="username" id="username" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit" class="btn">Войти</button>
</form>
{% endblock %}
